
    <section id="duckHelp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading">EVERYTHING WILL GO SWIMMINGLY</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <%= image_tag("welcomeBackground.png", :alt => "BGRD IMG") %>
                </div>
                <div class="col-md-6 col-md-offset-2">
                    <p id="solutionText">
                      <strong>What language would you like?</strong>
                      <a class="page-scroll" href="/html"><strong><input id="htmlBtn" class='btn' type="button" href="/html" value="HTML" /></strong></a>
                      <a class="page-scroll" href="/css"><strong><input id="cssBtn" class='btn' type="button" href="/css" value="CSS" /></strong></a>
                      <a class="page-scroll" href="/js"><strong><input id="jsBtn" class='btn' type="button" href="/js" value="JS" /></strong></a>
                    </p>
                </div>
            </div>
        </div>
    </section>
