
    <section id="duckHelp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading">HTML</h3>
                </div>
                <!-- <h5>Click the 'No' to begin the questions cycle!</h5> -->
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                  <%= image_tag("welcomeBackground.png", :alt => "BGRD IMG") %>

                </div>
                <div class="col-md-6 col-md-offset-2">
                    <div id='duckBubble'><br></div>
                    <div class='userResponse'>

                        <span id='input'>Did this answer fix your problem?</span>
                        <button id="yesBtn" name="Yes" type="button" class="btn btn-primary">Yes</button>
                        <button id="noBtn" name="No" type="button" class="btn btn-primary">No</button>
                    </div>
                    <div id='relatedLink'></div>
                </div>
            </div>
        </div>
    </section>
